#pycomo-title {
    text-align:center;
}

#pycomo-title p {
    font-size:70px;
    font-family:cuprum;
}

#pycomo-title a:link,
#pycomo-title a:visited, 
#pycomo-title a:hover,
#pycomo-title a:active {
    text-decoration: none;
}

#page a:link,
#page a:visited,
#page a:hover,
#page a:active {
    text-decoration: underline;
}

#page ul {
    list-style-type: none;
}

#join-pycomo-meetup {
    margin-top:50px;
}

#join-pycomo-meetup h1 {
    color: rgb(217, 83, 79);
    font-weight:bold;
    font-size:1.2em;
}

#join-pycomo-meetup p {
    font-size:.8em;
}

#join-pycomo-meetup a {
    margin-top:20px;
}

a {
    text-decoration:underline;
    color: #069;
}

header a {
    text-decoration:none;
}

dt {
    margin-top:30px;
}
