---
layout: default
title: Past Presentations
---
<h1>Past Presentations</h1>

<div id="presentations-list">
    <p class="well well-sm">If you're interested in presenting, email me at pycomo-at-dougroyal.com</p>
    <dl>
    {% for post in site.posts %}
        <dt>
            <span class="glyphicon glyphicon-calendar"></span>
            <a class="link" href="{{ post.url }}">{{ post.title }}</a>: {{ post.date | date: "%-d %B %Y" }}
        </dt>
        <dd>
            {% if post.subtitle %}
                <p> {{ post.subtitle }} </p>
            {% endif %}

            {% if post.tags %}
                <p>{{ post.tags | array_to_sentence_string }}</p>
            {% endif %}
        </dd>
    {% endfor %}
    </dl>
</div>
